<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>V-for</title>
</head>

<body>

   <div id="app">
      <h1> {{titulo}} </h1>

      <!-- listagem apenas -->
      <div>
         <li v-for="item in linguagens">{{item.nome}}</li>
      </div>
      <br>
      <br>
      <!-- listagem com index (numero)-->
      <div>
         <li v-for="(item, index) in linguagens">{{index}} - {{item.nome}}</li>
      </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
      const app = new Vue({
         el: "#app",
         data: {
            titulo: "Diretiva V-for",
            linguagens: [
               { nome: "Javascript" },
               { nome: "PHP" },
               { nome: "C#" },
               { nome: "Java" },
               { nome: "Python" }
            ]
         }
      });
   </script>
</body>

</html>